{% extends 'layout.html.twig' %}

{% block title %}
    Hello ServiceController!
{% endblock %}

{% block body %}
    <h1>
        Services
    </h1>
    <form action="{{path('app_service_search')}}">
    <div class="row">
        <div class="col-3">
            <a class="btn btn-primary" href="{{ path('app_service_new') }}">
                Create a new service
            </a>
        </div>
        <div class="col-4">
            <input type="text" onkeyup="load()" class="form-control" name="keyword" id="search" placeholder="Search">           
        </div>
        <div class="col-1">
            <button onclick="load()" type="button" class="btn btn-dark">Search</button>
        </div>
    </div>
</form>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Categorie
                <th>
                    title
                </th>
                <th>
                    created At
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody id="result">
            {% for service in services %}
                <tr>
                    <td>
                        {{ service.id }}
                    </td>
                    <td>
                        {{ service.category ? service.category.name : '' }}
                    <td>
                        {{ service.title }}
                    </td>
                    <td>
                        {{ service.created|date('Y-m-d H:i:s') }}
                    </td>
                    <td>
                        <a class="btn btn-info" href="{{ path('app_service_show', { 'id': service.id }) }}">
                            show
                        </a>
                        <a class="btn btn-success" href="{{ path('app_service_edit', { 'id': service.id }) }}">
                            edit
                        </a>
                        <a class="btn btn-danger" onclick="return confirm('Are you sure?')" href="{{ path('app_service_delete', { 'id': service.id }) }}">
                            delete
                        </a>

                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        var url = "{{ path('app_service_search') }}";
        function load(e){
            var keyword = $('#search').val();
            $.get( url, {'keyword': keyword}, function( data ) {
                $('#result').html(data);
                });
        }
    </script>
{% endblock %}
